<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.morozovhints">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_okabe"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_okabe"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".l120.MainActivityAsync"
            android:exported="false" />
        <activity
            android:name=".l111.MainActivityDBinTr"
            android:exported="false" />
        <activity
            android:name=".l110.presentation.MainActivityGame"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".L102.presentation.FragmentStudyMainActivity"
            android:exported="false" />
        <activity
            android:name=".L101.presentation.shopItemActivity.ShopItemActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".main.TestZoneActivity"
            android:exported="false" />
        <activity
            android:name=".L101.presentation.mainActivity.ShopListMainActivity"
            android:exported="false" />
        <activity
            android:name=".L091.AddNewUserActivity"
            android:exported="false" />
        <activity
            android:name=".L091.ListOfUsersMainActivity"
            android:exported="false" />
        <activity
            android:name=".L083.VIEW.screens.EmployerListActivity"
            android:exported="false" />
        <activity
            android:name=".L082.screens.employers.EmployerListActivity"
            android:exported="false" />
        <activity
            android:name=".L081.EmployersMainActivity"
            android:exported="false" />
        <activity
            android:name=".L072.AddNoteActivity"
            android:exported="false" />
        <activity
            android:name=".L072.ViewsMainActivity"
            android:exported="false" />
        <activity
            android:name=".L071.L7GameResultActivity"
            android:exported="false" />
        <activity
            android:name=".L071.L7DataStoreMainActivity"
            android:exported="false" />
        <activity
            android:name=".L06.L6GuessStarActivity"
            android:exported="false" />
        <activity
            android:name=".L06.L6JSONProjectActivity"
            android:exported="false" />
        <activity
            android:name=".L05.L5addSeekBarActivity"
            android:exported="false" />
        <activity
            android:name=".L05.L5CupDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".L05.L5CupActivity"
            android:exported="false" />
        <activity
            android:name=".L05.L5ShopMainActivity"
            android:exported="true" />
        <activity
            android:name=".L04.L4OrderDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".L04.L4CreateOrderActivity"
            android:exported="true" />
        <activity
            android:name=".L04.L4MainLoginActivity"
            android:exported="true" />
        <activity
            android:name=".L03.L3MainTimerActivity"
            android:exported="true" />
        <activity
            android:name=".L02.L2MainCreateMessageActivity"
            android:exported="true" />
        <activity
            android:name=".L01.L1MainColorSpinnerActivity"
            android:exported="true" />
        <activity
            android:name=".L02.L2ActivityRecievedMessage"
            android:exported="true" />
        <activity
            android:name=".main.L0MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>